<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	 <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
    </Appenders>
    <Loggers>
    	<Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="spring" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="spring" level="TRACE" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <logger name="java.sql.Connection">
		    <level value="debug" />
		</logger> 
		
		<logger name="java.sql.Statement">
		    <level value="debug" />
		</logger> 
		
		<logger name="java.sql.PreparedStatement">    
			<level value="debug" />
		</logger> 
		
		<logger name="java.sql.ResultSet" level="DEBUG" additivity="false">
            <appender-ref ref="console" />
        </logger>
        <Root level="INFO">
            <AppenderRef ref="console" />
        </Root>
         <Root level="DEBUG">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>

