<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="happybook.service.dao.mybatis.LoginMapper">





<!-- **********************************************************************************  -->
<!-- **********************************************************************************  -->
<select id="selectCheckList" parameterType="java.util.Map" resultType="egovMap">
	
		<!-- SELECT 
			count(*)
		FROM 
		(
			select 
				USER_ID
			from 
				OFFEDU_TESTDB.HL_USER
			union USER_ID
				
		) -->
		SELECT 
			USER_ID
		FROM 
			OFFEDU_TESTDB.HL_USER
		

	</select>

<!-- **********************************************************************************  -->
<!-- **********************************************************************************  -->
	<select id="selectUserList1" parameterType="java.util.Map" resultType="egovMap">
	
		SELECT 
			USER_NO, 
			USER_NM, 
			USER_ID, 
			USER_PWD, 
			USER_ISPWD, 
			USER_PHONE, 
		   	AUTHOR_CD, 
			BRR_CDNUM, 
			USER_ADDR, 
		   	USER_BIRTH, 
			USER_GENDER, 
			USER_EMAIL
		
		FROM OFFEDU_TESTDB.HL_USER
	 	
		<trim prefix="WHERE" prefixOverrides="AND">
		   <if test="userId != null">
		       <if test="userId != ''">
		          AND USER_ID = #{userId}
		       </if>
		    </if>
		    <if test="userPwd != null">
		       <if test="userPwd != ''">
		          AND USER_PWD  = #{userPwd}
		       </if>
		    </if>
		     <if test ="searchYn != 'Y'.toString()">
		       AND 1=1
		    </if> 
		</trim>
			             
		ORDER BY USER_NO

	</select>



<!-- **********************************************************************************  -->
<!-- **********************************************************************************  -->
	<select id="findIdUserList" parameterType="java.util.Map" resultType="egovMap">
	
		SELECT 
			USER_NO, 
			USER_NM, 
			USER_ID, 
			USER_PWD, 
			USER_ISPWD, 
			USER_PHONE, 
		   	AUTHOR_CD, 
			BRR_CDNUM, 
			USER_ADDR, 
		   	USER_BIRTH, 
			USER_GENDER, 
			USER_EMAIL
		
		FROM OFFEDU_TESTDB.HL_USER
	 	
		<trim prefix="WHERE" prefixOverrides="AND">
		   <if test="userNm != null">
		       <if test="userNm != ''">
		          AND USER_NM = #{userNm}
		       </if>
		    </if>
		    <if test="userPhoneFul != null">
		       <if test="userPhoneFul != ''">
		          AND USER_PHONE  = #{userPhoneFul}
		       </if>
		    </if>
		    <if test="userBirth != null">
		       <if test="userBirth != ''">
		          AND USER_BIRTH  = #{userBirth}
		       </if>
		    </if>
		     <if test ="searchYn != 'Y'.toString()">
		       AND 1=1
		    </if> 
		</trim>
			             
		ORDER BY USER_NO

	</select>

<!-- **********************************************************************************  -->
<!-- **********************************************************************************  -->
	<select id="findIdUserList2" parameterType="java.util.Map" resultType="egovMap">
	
		SELECT 
			USER_NO, 
			USER_NM, 
			USER_ID, 
			USER_PWD, 
			USER_ISPWD, 
			USER_PHONE, 
		   	AUTHOR_CD, 
			BRR_CDNUM, 
			USER_ADDR, 
		   	USER_BIRTH, 
			USER_GENDER, 
			USER_EMAIL
		
		FROM OFFEDU_TESTDB.HL_USER
	 	
		<trim prefix="WHERE" prefixOverrides="AND">
		    <if test="userEmailFul != null">
		       <if test="userEmailFul != ''">
		          AND USER_EMAIL  = #{userEmailFul}
		       </if>
		    </if>
		     <if test ="searchYn != 'Y'.toString()">
		       AND 1=1
		    </if> 
		</trim>
			             
		ORDER BY USER_NO

	</select>
<!-- **********************************************************************************  -->
<!-- **********************************************************************************  -->
	<select id="findIdUserList3" parameterType="java.util.Map" resultType="egovMap">
	
		SELECT 
			USER_NO, 
			USER_NM, 
			USER_ID, 
			USER_PWD, 
			USER_ISPWD, 
			USER_PHONE, 
		   	AUTHOR_CD, 
			BRR_CDNUM, 
			USER_ADDR, 
		   	USER_BIRTH, 
			USER_GENDER, 
			USER_EMAIL
		
		FROM OFFEDU_TESTDB.HL_USER
	 	
		<trim prefix="WHERE" prefixOverrides="AND">
		    <if test="userPhoneFul != null">
		       <if test="userPhoneFul != ''">
		          AND USER_PHONE  = #{userPhoneFul}
		       </if>
		    </if>
		     <if test ="searchYn != 'Y'.toString()">
		       AND 1=1
		    </if> 
		</trim>
			             
		ORDER BY USER_NO

	</select>
<!-- **********************************************************************************  -->
<!-- **********************************************************************************  -->
	<select id="findPwdUserList" parameterType="java.util.Map" resultType="egovMap">
	
		SELECT 
			USER_NO, 
			USER_NM, 
			USER_ID, 
			USER_PWD, 
			USER_ISPWD, 
			USER_PHONE, 
		   	AUTHOR_CD, 
			BRR_CDNUM, 
			USER_ADDR, 
		   	USER_BIRTH, 
			USER_GENDER, 
			USER_EMAIL
		
		FROM OFFEDU_TESTDB.HL_USER
	 	
		<trim prefix="WHERE" prefixOverrides="AND">
		   <if test="userNm != null">
		       <if test="userNm != ''">
		          AND USER_NM = #{userNm}
		       </if>
		    </if>
		    <if test="userId != null">
		       <if test="userId != ''">
		          AND USER_ID  = #{userId}
		       </if>
		    </if>
		     <if test ="searchYn != 'Y'.toString()">
		       AND 1=1
		    </if> 
		</trim>
			             
		ORDER BY USER_NO

	</select>

<!-- ***************************좌석예약확인*******************************************************  -->
<!-- **********************************************************************************  -->
	<select id="selectSeatList" parameterType="java.util.Map" resultType="egovMap">
	
		SELECT 
			USER_NO,
			SEAT_NO,
			SEAT_START,
			SEAT_END
		FROM OFFEDU_TESTDB.HL_SEAT
	 	
		<trim prefix="WHERE" prefixOverrides="AND">
		   <if test="userNo != null">
		       <if test="userNo != ''">
		          AND USER_No = #{userNo}
		       </if>
		    </if>
		     <if test ="searchYn != 'Y'.toString()">
		       AND 1=1
		    </if> 
		</trim>
			             
		ORDER BY USER_NO

	</select>

<!-- *******************************좌석예약하기***************************************************  -->
<!-- **********************************************************************************  -->
	<select id="insertReserveList" parameterType="java.util.Map" resultType="egovMap">
	
		INSERT INTO OFFEDU_TESTDB.HL_SEAT (
			USER_NO,
			SEAT_NO,
			SEAT_START,
			SEAT_END
		)
		VALUES (
			#{userNo},
			#{seatNo},
			#{seatStart},
			#{seatEnd}
		)
		
	</select>
<!-- *******************************좌석예약취소하기***************************************************  -->
<!-- **********************************************************************************  -->
	<delete id="deleteReserveList" parameterType="java.util.Map" >
		DELETE FROM OFFEDU_TESTDB.EMPLOYEES WHERE EMPL_ID = #{emplId}
	</delete>
<!-- ************************JOIN*************************************  -->
<!-- **********************************************************************************  -->
<!-- **********************************************************************************  -->
<!-- **********************************************************************************  -->
 <insert id="saveUserList1" parameterType="java.util.Map">
        
        	INSERT INTO OFFEDU_TESTDB.HL_USER (
        		USER_NO,    	     
				  USER_NM,
				  USER_ID,
				  USER_PWD,
				  USER_ISPWD,
				  USER_PHONE,
				  AUTHOR_CD,
				  BRR_CDNUM,
				  USER_ADDR,
				  USER_BIRTH,
				  USER_GENDER,
				  USER_EMAIL
			) 
			VALUES (
				SEQ_NO.NEXTVAL,
			 	  #{userNm},
				  #{userId},
				  #{userPwd},
				  #{userIspwd},
				  #{userPhoneFul},
				  '02',
				  #{brrCdnum},
				  #{userAddr},
				  #{userBirth},
				  #{userGender},
				  #{userEmailFul}
				  <!--  #{userNm},
				  #{userId},
				  #{userPwd},
				  #{userIspwd},
				  #{userPhone},
				  '02',
				  #{brrCdnum},
				  #{userAddr},
				  #{userBirth},
				  #{userGender},
				  #{userEmail} -->
			)
    </insert>


<!-- **********************************************************************************  -->
<!-- **********************************************************************************  -->
<!-- **********************************************************************************  -->
<!-- **********************************************************************************  -->
	<!-- <insert id="saveUserList1" parameterType="java.util.Map">
       
       	INSERT INTO OFFEDU_TESTDB.HL_USER (
       		USER_NO,    	     
			  USER_NM,
			  USER_ID,
			  USER_PWD,
			  USER_ISPWD,
			  USER_PHONE,
			  AUTHOR_CD,
			  BRR_CDNUM,
			  USER_ADDR,
			  USER_BIRTH,
			  USER_GENDER,
			  USER_EMAIL
		) 
		VALUES (
			SEQ_NO.NEXTVAL,
			  #{userNm},
			  #{userId},
			  #{userPwd},
			  #{userIsPwd},
			  #{userPhone},
			  '02',
			  #{brrCdnum},
			  #{userAddr},
			  #{userBirth},
			  #{userGender},
			  #{userEmail}
			  #{USER_NM},
			  #{USER_ID},
			  #{USER_PWD},
			  #{USER_ISPWD},
			  #{USER_PHONE},
			  '02',
			  #{BRR_CDNUM},
			  #{USER_ADDR},
			  #{USER_BIRTH},
			  #{USER_GENDER},
			  #{USER_EMAIL}
		)
		
	</insert> -->
	
	<!-- 
	
	<select id="checkId" parameterType="java.util.Map" resultType="egovMap">
	
		SELECT 
			NVL(max(USER_ID), 'null') 
		FROM OFFEDU_TESTDB.HL_USER
		
		 WHERE USER_ID = #{userId}
		
	
	</select>
	 -->
	
	
</mapper>	